Añadir comentario: <p>

<form method="post" action="/quizes/<%=quizid%>/comments/" >
  <input type="text" id="comment" name="comment[texto]" value="" placeholder="Comentario..." required/> <p>
  <button type="submit">Enviar</button>
</form>
