<h3>Créditos </h3>

  <video id="video-creditos"  width="260" height"150" controls="controls" poster="../images/bob.jpg">
    <source src="../videos/video.mp4" type="video/mp4">
  </video>
<figure id="img-creditos">
<img width="140px" height="100px" src="../images/Foto.jpg" alt="Oscar Rivera" />
<figcaption>Dev by <%=autor%></figcaption>
</figure>
