body{
  background: #333;
}
#page-wrap:after{
  content: "Iphone Layout"
}
#page-wrap > .main{

  padding: 5%;

}
h2 span, section h3, label.rem, td.rem {
  display: none;
}
body{
  font-size: 5em;
}
input, button, select{
  font-size: 0.6em;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
}
footer{
  font-size: 0.4em;
}

#img-creditos{
  text-align: center;
}
#video-creditos{
  width: auto;
}
figcaption{
  font-size: 0.5em;
}
table{
  text-align: left;
}
