<form method="get" action="/quizes">
    <input type="search" name="search" >
    <input type="submit" value="Buscar">
</form>

<table>
 <% var i; for (i=0; i < quizes.length; i++) { %>
    <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
 <% } %>
 </table><p>
 <a href="/quizes/new"><button type="button" id=crear_pregunta>Crear pregunta</button></a>
